!!!
%html{:lang => "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title
      Madmin: #{Rails.application.class}
    = csrf_meta_tags
    = render "javascript"
  %body.min-h-screen
    .md:flex.w-full.min-h-screen
      #sidebar.md:w-64.p-4.flex-shrink-0.border-r
        = render "navigation"
      %main.flex-grow.p-4.overflow-x-scroll{:role => "main"}
        = yield
