<%= form_with(model: title) do |form| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :content_url, class: 'form-label' %>
      <%= form.text_field :content_url, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :thumbnail_url, class: 'form-label' %>
      <%= form.text_field :thumbnail_url, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :year, class: 'form-label' %>
      <%= form.number_field :year, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :user_id, class: 'form-label' %>
      <%= form.text_field :user_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if title.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', title, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if title.persisted? %>
      <%= link_to "Cancel", title, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", titles_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
