= form_with(model: title) do |form|
  - if title.errors.any?
    #error_explanation
      %h2
        = pluralize(title.errors.count, "error")
        prohibited this title from being saved:
      %ul
        - title.errors.full_messages.each do |message|
          %li= message
  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: 'form-control'
  .mb-3
    = form.label :description, class: 'form-label'
    = form.text_field :description, class: 'form-control'
  .mb-3
    = form.label :content_url, class: 'form-label'
    = form.text_field :content_url, default_value: 'content/',class: 'form-control'
  .mb-3
    = form.label :thumbnail_url, class: 'form-label'
    = form.text_field :thumbnail_url, default_value: 'content/', class: 'form-control'
  .mb-3
    = form.label :year, class: 'form-label'
    = form.number_field :year, class: 'form-control'
  .mb-3
    = form.collection_select(:content_group_ids, ContentGroup.all, :id, :name, { prompt: "Choose categories (can be empty)" }, { multiple: true, class: "form-select", size: 5 })
  .mb-3
    - if title.persisted?
      .float-end
        = link_to 'Destroy', title, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' }
    = form.submit class: 'btn btn-primary'
    - if title.persisted?
      = link_to "Cancel", title, class: "btn btn-link"
    - else
      = link_to "Cancel", titles_path, class: "btn btn-link"
