<div id="<%= dom_id title %>">
  <p>
    <strong>Name:</strong>
    <%= title.name %>
  </p>

  <p>
    <strong>Desccription:</strong>
    <%= title.description %>
  </p>

  <p>
    <strong>Content url:</strong>
    <%= title.content_url %>
  </p>

  <p>
    <strong>Thumbnail url:</strong>
    <%= title.thumbnail_url %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= title.year %>
  </p>

  <p>
    <strong>User:</strong>
    <%= title.user_id %>
  </p>

</div>
