%div{:id => "#{dom_id title}"}
  %p
    %strong Name:
    = title.name
  %p
    %strong Desccription:
    = title.description
  %p
    %strong Content url:
    = title.content_url
  %p
    %strong Thumbnail url:
    = title.thumbnail_url
  %p
    %strong Year:
    = title.year
  %p
    %strong User:
    = title.user_id
