.page-header
  %h1= @title.name
  %p= @title.year
.container.row
  = content_tag :div, data: { controller: 'video' } do
    = content_tag :video, data: { target: 'video.player' } do
      = tag :source, src: @title.content_slug, type: "video/mp4"
.row
  .col.col-md
    = link_to titles_path, class: 'btn btn-sm btn-default text-danger' do
      Back
    = link_to edit_title_path(@title), class: 'btn btn-sm btn-default text-primary' do
      Edit
%small= @title.description
